<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectID</key>
	<string>fg5db</string>
	<key>SecretKey</key>
	<string>a7ef01a727c727ac5b2b7435e8e8971b</string>
	<key>IVSecretKey</key>
	<string>e556eaf82c554ae938d32c95f718bd3b</string>
	<key>IsDebug</key>
	<false/>
</dict>
</plist>
